$secondary-color: #125688;

@import "node_modules/materialize-css/sass/materialize.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oleo+Script');

body {
    background: #fafafa;
    color: #125688;
    font-family: Montserrat, Arial, sans-serif;
}

#main-container {
    margin: 30px auto;
}

.iphone {
    max-width: 100%;
}

.site-footer {
    text-transform: uppercase;
    font-size: 12px;
}

.login-box,
.signup-box {
    background-color: white;
    border: 1px solid #edeeee;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

.login-box {
    font-weight: bold;
}

.signup-box .platzigram {
    font-family: 'Oleo Script';
    font-size: 52px;
}

.signup-form {
    width: 65%;
    margin: 0 auto;
}

.signup-form h2 {
    font-size: 1.4em;
    color: #a5a7aa;
}

.signup-form .btn.btn-fb {
    background-color: #4090db;
    font-size: .9em;
}

.signup-form .btn.btn-fb:hover {
    background-color: #2d6599;
}

.signup-form .btn.btn-register {
    background-color: #125688;
}